@import '../../node_modules/bootstrap/less/bootstrap.less';
@import '../less/variables.less';

#overview {
  background-color: @brand-beige;
  padding: @padding-large-vertical;
}

#overview h3 {
  color: @brand-brown;
}

#overview span, #overview li {
  color: @brand-red;
}